* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #111111;
}

.container-fluid {
  padding: 0;
  background-color: #111111;
  width: 100%;
  margin: 0 auto;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
background-color: #111111;
}

::-webkit-scrollbar-thumb {
  background: rgb(105, 202, 202); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 155, 155);
}
/*END OF SCROLLBAR*/

/*NAVBAR*/
.navbar {
  position: fixed;
  margin: 0;
  width: 100%;
  /* max-width: 1600px; */
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1010;
}
.navbar-warna {
  background-color: #111111;
  transition: 0.1s;
  /* box-shadow: 0 10px 15px #111111; */
}
.navbar-transparent {
  background-color: transparent;
  transition: 0.3s;
}
.nav-pd {
  margin-left: 30px;
}

.second {
  font-family: made;
}

#brand {
  font-size: 25px;
  color: white;
}

#nav-color {
  color: white;
  font-size: 23px;
  padding-left: 20px;
}
/*END OF NAVBAR*/

/*LANDING PAGE*/
.lp-desc {
  position: absolute;
  top: 0;
  height: 180px;
  margin-top: calc(50vh - 50px);
  color: white;
  left: 20px;
  width: 95vw;
}
.lp-desc h1 {
  font-family: aquaq;
  font-size: 45px;
  text-align: center;
}
.lp-desc h5 {
  font-family: caviar;
  text-align: center;
  font-size: 30px;
}
/*END OF LANDING PAGE*/


/*DESCRIPTION*/
.description{
  color: #fff;
  font-family: made;
  padding: 30px 50px;
}
.description h1{
  font-size: 80px;
  text-align: center;
  color: lightsalmon;
}
.description p{
  text-align: justify;
  font-size: 30px;
  padding: 50px;
}
/*END OF DESCRIPTION*/

/*GALLERY*/
.gallery {
  padding: 100px;
}
.gallery h1 {
  color: lightsalmon;
  font-size: 55px;
  text-align: center;
  font-family: made;
  margin-bottom: 30px;
}
.gallery1 {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-auto-rows: 200px;
  margin-left: calc(50% - 450px);
}
.box1, .box6, .box7, .box10, .box11 {
  height: 100%;
}
.gallery img {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
}
.box1 { 
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  position: relative;
}
.box6 { 
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 3; 
  grid-row-end: 4; 
  position: relative;
}
.box7 { 
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 3; 
  grid-row-end: 4; 
  position: relative;
}
.box10 { 
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 4; 
  grid-row-end: 4; 
  position: relative;
}
.box11 { 
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 4; 
  grid-row-end: 4; 
  position: relative;
}
/*END OF GALLERY*/

/*FOOTER*/
#kakiWeb {
  background-color: #1d1d1d;
  padding: 50px;
  height: 100%;
}

.left2, .left3 {
  height: 50px;
  width: 10%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right2, .right3 {
  height: 50px;
  width: 90%;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.left2 {
  background-image: url(../assets/images/footer/email.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.left3 {
  background-image: url(../assets/images/footer/maps.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

#kakiWeb h2, h3, p {
  margin: 0;
}

#kakiWeb h2 {
  font-family: made;
  color: lightseagreen;
  text-align: left;
  font-size: 35px;
}

#kakiWeb li {
  display: block;
}

#kakiWeb li a{
  text-decoration: none;
  color: #18aba3;
  font-family: made;
  font-size: 25px;
}
/* .logoKaki {
  float: right;
  width: 27%;
  display: none;
} */

.kakiweb2 {
  visibility: hidden;
}

.tetapTerhubung p {
  color: #18aba3;
  font-family: made;
  font-size: 23px;
  text-align: left;
}

.tetapTerhubung h3 {
  font-family: made;
  color: #18aba3;
  font-size: 28px;                                          
}
.copyright {
  background-color: black;
  text-align: center;
  font-family: made;
  color: white;
  /* padding: 0.5% 0%; */
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  
}
.copyright p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: made;
  color: lightseagreen;
}
/*END OF FOOTER*/

@media (max-width: 1024px) {
  .gallery1{
    display: grid;
    grid-template-columns: 350px 350px;
    grid-auto-rows: 200px;
    margin-left: calc(50% - 350px);
  }
}

@media (max-width: 768px) {
  .gallery1{
    display: inline;
    width: 90%;
  }
  .gallery1 img {
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .description h1 {
    font-size: 55px;
  }
  .description p {
    font-size: 22px;
    padding: 0px;
  }
  .fac {
    width: 80px;
    padding: 10px;
    margin: 10px;
  }
  .gallery {
    padding: 40px;
  }
  .description {
    color: #fff;
    font-family: made;
    margin-left: 0px;
    padding: 30px 50px;
  }
  #kakiWeb {
    height: 550px;
  }
  .lp-desc {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 375px) {
  #kakiWeb h2 {
    font-size: 30px;
  }
  .lp-desc h1 {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  .nearby {
    height: 400px;
  }
}