@font-face {
    font-family: caviar;
    src: url('../assets/fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: aquaq;
    src: url('../assets/fonts/aqua.ttf');
}

@font-face {
    font-family: made;
    src: url('../assets/fonts/Madeleina\ Sans.otf');
}


